<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ediposouza.myschedule" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="com.ediposouza.myschedule.permission.READ_APPOINTMENTS"
        android:protectionLevel="normal"
        android:description="@string/permission_read_appointment"/>

    <permission
        android:name="com.ediposouza.myschedule.permission.WRITE_APPOINTMENTS"
        android:protectionLevel="normal"
        android:description="@string/permission_white_appointment"/>

    <uses-sdk
        tools:node="replace" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".NewAppointmentActivity"
            android:label="@string/title_activity_new_appointment" >
        </activity>

        <provider
            android:authorities="com.ediposouza.myschedule.appointmentProvider"
            android:name=".provider.AppointmentProvider"
            android:exported="true"
            android:description="@string/appointment_provider_description"
            android:readPermission="com.ediposouza.myschedule.permission.READ_APPOINTMENTS"
            android:writePermission="com.ediposouza.myschedule.permission.WRITE_APPOINTMENTS"/>

    </application>

</manifest>
